{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% include "snippets/styles.html" %}

</head>
<body>
	<div class="container-fluid">
		{% include "snippets/navbar.html" %}
		<hr style="border-top: 1px solid #8c8b8b;">
		<div class="row">
			<div class="col-md-6 col-lg-4 col-sm-8 mx-auto">
				<div class="justify-content-md-center">
					<h2>Login</h2>
					<hr>
					<form method="post" >
						{% csrf_token %}
						<div class="form-group">
							<label for="username">Username:</label>
							<input type="text" name="username" placeholder="Username" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" name="password" placeholder="Password" class="form-control" required>
						</div>
						<button type="submit" id="btn_submit" class="btn btn-primary">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>