{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	{% include "snippets/styles.html"%}
</head>
<body>

	<div class="container-fluid">
		{% if user.is_authenticated %}
		{% include "snippets/navbar.html"  with navbar=loginvalue %}
		<div class="justify-content-md-center">
			
			<h2>Hello {{ user.username }}</h2>
			
		</div>
		{% else %}
		<div class="justify-content-md-center">
			<div class="justify-content-md-center">
				<h2>Register or Login if you'd like to</h2>
			</div>	
			

		</div>
		{% endif %}
	</div>

	{% include "snippets/footerscript.html" %}

</body>
</html>

