{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title> 

	{% include "snippets/styles.html" %}



</head>
<body>	
	<div class="container-fluid">
		{% include "snippets/navbar.html" %}
		<hr style="border-top: 1px solid #8c8b8b;">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h3> alvin Christianto</h3>
					<br/>
					<h1>under maintenance</h1>
					<p>
						<a href="https://github.com/alvinChristianto" class="btn btn-lg btn-secondary">Learn more</a>
					</p>

				</div>
			</div>


		</div>
	</div>
	<!--<div class="container">
		<h1>this is index registerAPP</h1>
		<ul>
			<li><a href="newuser"> Register new user with html form</a></li>
			<li><a href="newuser_modelform"> Register new user with ModelForm</a></li>
			<li><a href="newuser_usercreationform"> Register new user with Usercreationform</a></li>
			<li><a href="listuser"> See all list user</a></li>
			<!--<li><a href="login"> login user</a></li> 
		</ul>

	</div>
-->


</body>
</html> 